<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991681654145-omm3ea3vbhljsqgll91b66mprcjuebo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991681654145-omm3ea3vbhljsqgll91b66mprcjuebo1</string>
	<key>API_KEY</key>
	<string>AIzaSyABrBm_OPwL4K67BO1v3p9LhRd23eDUOT0</string>
	<key>GCM_SENDER_ID</key>
	<string>991681654145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marioban.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-61d3b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-61d3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991681654145:ios:d6587aa54db26b72aa4c80</string>
</dict>
</plist>